body {
  margin: 0px;
}
.hero__container {
  display: flex;
  height: 85vh;
  padding-left: 10%;
  justify-content: space-around;
  align-items: center;
}

.hero__text {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.hero__header {
  font-size: 80px;
  font-family: ubuntu;
  line-height: 6rem;
}

.hero__subhead {
  margin-top: 10px;
  color: gray;
  padding-left: 20px;
  font-size: 20px;
  font-family: ubuntu;
  font-style: italic;
}
.testinomy {
  padding: 0px 16px 5px 16px;
  border-radius: 20px;
  background-color: rgb(70, 90, 227);
  color: white;
}
.hero__img {
  object-fit: contain;
  height: 300px;
}
.hero__imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__text {
  font-family: ubuntu;
  font-size: 20px;
  /* font-weight: 600; */
}
.Nav {
  padding: 20px;
  border-bottom: 1px solid;
}

footer {
  font-family: ubuntu;
  font-size: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  border-top: 1px solid;
}
