body {
  margin: 0px;
}

/* Hero container */
.hero__container {
  display: flex;
  height: 85vh;
  /* padding-top: 50px;
  padding-bottom: 60px; */
  padding-left: 10%;
  justify-content: space-around;
  align-items: center;
}

.hero__text {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.hero__header {
  font-size: 80px;
  font-family: ubuntu;
  line-height: 6rem;
}

.hero__subhead {
  margin-top: 10px;
  color: gray;
  padding-left: 20px;
  font-size: 20px;
  font-family: ubuntu;
  font-style: italic;
}
.testinomy {
  padding: 0px 16px 5px 16px;
  border-radius: 20px;
  background-color: rgb(70, 90, 227);
  color: white;
}
.hero__img {
  object-fit: contain;
  height: 300px;
}
.hero__imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Temporary navbar styling*/
.nav__text {
  font-family: ubuntu;
  font-size: 20px;
  cursor: pointer;
  /* font-weight: 600; */
}
.Nav {
  padding: 20px;
  border-bottom: 1px solid;
}

/*Temporary footer styling*/
footer {
  font-family: ubuntu;
  font-size: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  border-top: 1px solid;
  height: 100%;
  /* height: 200px; */
  background-color: burlywood;
}

/* Create Now button styling and hover effect */
.hero__btn {
  margin-top: 40px;
  padding-left: 20px;
}
.hero__btn > button {
  border: 0px;
  background-color: rgb(70, 90, 227);
  box-shadow: 5px 5px 20px 2px rgba(40, 65, 225, 0.3);
  color: white;
  padding: 10px 15px 10px 15px;
  font-family: ubuntu;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition-duration: 200ms;
}
.hero__btn > button:hover {
  /* transition-duration: 300ms; */
  padding-left: 18px;
  background-color: rgb(40, 65, 225);
  box-shadow: 7px 7px 20px 2px rgba(40, 65, 225, 0.5);
  padding-right: 18px;
  padding-top: 12px;
  padding-bottom: 12px;
  /* font-size: 22px; */
  margin-top: -2px;
  margin-bottom: -2px;
  margin-left: -3px;
  margin-right: -3px;
}

/* Form Styling*/
.form__container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 80vh; */
  padding: 5% 10% 5% 10%;
}
.form {
  display: flex;
  border: 1px solid;
  flex-direction: column;
  border-radius: 10px;
  padding: 5% 7% 5% 7%;
  width: 80%;
}
.form__inputs {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.form__inputs > input,
select {
  border: 0px;
  border-bottom: 1px solid rgba(40, 65, 225, 0.6);
  padding: 5px 10px 2px 20px;
  transition-duration: 300ms;
  width: 300px;
  height: 40px;
  font-size: 15px;
  font-family: ubuntu;
  color: rgb(43, 43, 43);
  background-color: white;
}
.form__inputs > input:focus,
select:focus {
  outline: 0px;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 2px rgba(40, 65, 225, 0.2);
  border-bottom-width: 2px;
  margin-top: -1px;
}
.form__inputs > label {
  padding-left: 10px;
  margin-bottom: 5px;
  font-size: 20px;
  font-family: ubuntu;
  font-weight: 600;
}
.form__two {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.form__break {
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 25px;
  font-family: ubuntu;
  font-weight: 600;
  width: 100%;
  display: flex;
  justify-content: center;
  text-decoration: underline;
}
.form__break > button {
  border: 0px;
  background-color: rgb(52, 165, 46);
  color: white;
  padding: 10px 15px 10px 15px;
  font-family: ubuntu;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 5px 5px 20px 2px rgba(40, 225, 40, 0.3);
  transition-duration: 200ms;
  width: 200px;
}
.form__break > button:hover {
  background-color: rgb(38, 118, 34);
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 12px;
  padding-bottom: 12px;
  /* font-size: 22px; */
  margin-top: -2px;
  margin-bottom: -2px;
  box-shadow: 7px 7px 20px 2px rgba(40, 225, 40, 0.5);
  width: 220px;
}

.testi__btns {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.testi__btns > a > button {
  margin: 0px 20px 0px 20px;
  border: 0px;
  color: white;
  padding: 10px 15px 10px 15px;
  font-family: ubuntu;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition-duration: 200ms;
  width: 200px;
}
.testi__btns > a:nth-child(1) > button {
  background-color: rgb(52, 165, 46);
  box-shadow: 5px 5px 20px 2px rgba(40, 225, 40, 0.3);
}
.testi__btns > a:nth-child(2) > button {
  background-color: rgb(70, 90, 227);
  box-shadow: 5px 5px 20px 2px rgba(40, 65, 225, 0.3);
}
.testi__btns > a > button:hover {
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 12px;
  padding-bottom: 12px;
  /* font-size: 22px; */
  margin-top: -2px;
  margin-bottom: -2px;
  margin-left: 10px;
  margin-right: 10px;
  width: 220px;
}
.testi__btns > a:nth-child(1) > button:hover {
  background-color: rgb(38, 118, 34);
  box-shadow: 7px 7px 20px 2px rgba(40, 225, 40, 0.5);
}
.testi__btns > a:nth-child(2) > button:hover {
  background-color: rgb(40, 65, 225);
  box-shadow: 7px 7px 20px 2px rgba(40, 65, 225, 0.5);
}
